# OS files
.DS_Store
**/.DS_Store

# Node
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!/.env.example
!backend/.env.example

# Build output
backend/dist/
backend/build/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/

# Editor
.vscode/
.idea/
